{% extends "base.twig" %}

    {% block body %}
    <div class="container">
        <h2>Votre post</h2>
    </div>

    <div class="container cards-content">
       
    </div>
        
    </div>

 {% endblock %}
